<ion-content>
  <div class="container">
    <h1>Jane's Profile</h1>

    <div class="general-info">
      <ion-icon class="profile-pic" name="person-outline"></ion-icon>
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient</p>
      </div>
    </div>

    <div class="information">
      <ion-card>
        <h3>Medical History</h3>
      </ion-card>
      <ion-card>
        <h3>Personal Info</h3>
      </ion-card>
      <ion-card>
        <h3>Account Settings</h3>
      </ion-card>
      <ion-card>
        <h3>Security</h3>
      </ion-card>
    </div>

    <ion-card class="update">
      <h3>Update Information</h3>
    </ion-card>
  </div>
</ion-content>
