.grid{
  height: 100%;
  display: grid;
  grid-template-rows: 10fr 1fr;

  .video-big{
    display: flex;
    justify-content: flex-end;

    .video-small{
      background-color: #587CA3;
      height: 20vh;
      width: 15vh;
      margin: 8vw;
      border-radius: 10px;
    }
  }

  .icons{
    background-color: #587CA3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .round{
      background-color: white;
      padding: .25rem;
      border-radius: 50%;
    }

    .small{
      font-size: 1.2rem;
    }

    .big{
      font-size: 2em;
      padding: .5rem;
    }
  }
}
