h1, h3, p{
  padding: 0;
  margin: 0;
}

h3{
  font-size: 15px;
  text-align: center;
  margin: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

h1{
  font-size: 26px;
  font-weight: 400;
}

.general-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 5vh;

  .profile-pic{
    flex: .75;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .text{
    flex: 1;
  }

  span{
    color: #FDFF85;
  }
}

.information{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 40vh;
  margin-top: 3vh;

  ion-card{
    height: 16vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #587CA3;
    color: white;
  }
}

button{
  background-color: #587CA3;
  padding: 8px 0;
  border-radius: 5px;
  width: 40%;
  color: white;
}

.row{
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 400px;
}
