<ion-content>
  <div class="container">
    <ion-card class="card-main">
      <ion-icon name="chevron-back-outline" (click)="navigateToGame1Start()"></ion-icon>
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient information</p>
      </div>
    </ion-card>

    <div class="gameList">
      <div class="game">
        <h4>Game One Results</h4>
        <div class="text">
          <p>Matching Game</p>
          <p>2/4</p>
        </div>
      </div>
      <div class="game">
        <h4>Game Two Results</h4>
        <div class="text">
          <p>Other Game</p>
          <p>1/4</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>
