<ion-content>
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back-outline" (click)="navigateToGame1Start()"></ion-icon>
      <p (click)="navigateToHome()">X</p>
    </div>

    <div class="game">
      <h1 class="title">Plane</h1>
      <div class="grid">
        <ion-icon name="airplane-outline" class="green" (click)="navigateToGame1Flower()"></ion-icon>
        <ion-icon name="star-outline" class="cyan" (click)="navigateToGame1Flower()"></ion-icon>
        <ion-icon name="flower-outline" class="orange" (click)="navigateToGame1Flower()"></ion-icon>
        <ion-icon name="logo-octocat" class="pink" (click)="navigateToGame1Flower()"></ion-icon>
      </div>

    </div>

  </div>
</ion-content>
