<ion-content>
  <div class="title">
    <ion-icon name="chevron-back-outline" (click)="navigateToPatients()"></ion-icon>
    <h1>Your Patients Metrics</h1>
  </div>

  <div class="container">
    <ion-card class="card-main">
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient</p>
      </div>
    </ion-card>

    <div class="buttons">
      <button class="blue" (click)="navigateToPatientData()">View Patient Records</button>
      <button class="green" (click)="navigateToGameResults()">Game Results</button>
      <button class="red" (click)="navigateToPatientRecords()">Data Collection</button>
    </div>
  </div>

</ion-content>
