img, h4, p, span, h1{
  margin: 0;
  padding: 0;
}

.title{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;

  h1{
    font-size: 16px;
    margin-left: 1rem;
  }
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-main {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #FFB4C5;
  padding: 15px;
  color: white;

  .profile-pic{
    padding: 5px;
    border-radius: 50%;
  }

  h4{
    font-size: 16px;
  }

  span{
    color: #FDFF85;
  }
}

.buttons{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  button{
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    margin: 5px;
  }

  .blue{
   background-color: #587CA3;
  }

  .green{
    background-color: #51C0A6;
  }

  .red{
    background-color: #FFB4C5;
  }
}


