<ion-content>
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back-outline" (click)="navigateToGames()"></ion-icon>
      <p (click)="navigateToHome()">X</p>
    </div>

    <div (click)="navigateToGame1Plane()" class="intro">
      <div class="row">
        <img src="../../../../assets/images/dot.png" alt="">
        <img src="../../../../assets/images/dot.png" alt="">
      </div>
      <div class="text">
        <p>
          This is a matching Game. Match the words to the pictures.
        </p>
      </div>
      <div class="row bottom">
        <img src="../../../../assets/images/dot.png" alt="">
        <img src="../../../../assets/images/dot.png" alt="">
      </div>
    </div>

  </div>
</ion-content>
