<ion-content>

  <div class="title">
    <ion-icon name="flag-outline"></ion-icon>
    <h3>Stockholm</h3>
  </div>

  <ion-card class="card-main">
    <ion-icon class="profile-pic" name="person-outline"></ion-icon>
    <div class="text">
      <h4>Jane Doe</h4>
      <p>Patient</p>
    </div>
    <button>Edit Profile</button>
  </ion-card>

  <h3 class="title">Upcoming schedule</h3>
  <ion-card>
    <div class="row end">
      <ion-icon name="videocam-outline"></ion-icon>
    </div>

    <div class="card-main">
      <ion-icon class="profile-pic" name="person-outline"></ion-icon>
      <div class="text">
        <h4>Dr. Marty Smarty Pants</h4>
        <p>Speech Therapist</p>
      </div>
    </div>

    <div class="row center">
      <ion-icon name="add-circle-outline"></ion-icon>
      <p>June 14, 14:30</p>
    </div>
  </ion-card>


  <div class="title">
    <h3>Find a Therapist to best suit you</h3>
  </div>

  <ion-card class="card-main">
    <ion-icon class="profile-pic" name="person-outline"></ion-icon>
    <div class="text">
      <h4>Dr. Marty Smarty Pants</h4>
      <p>Speech Therapist</p>
      <span>&starf; &starf; &starf; &starf;</span>
    </div>
  </ion-card>

  <ion-card class="card-main">
    <ion-icon class="profile-pic" name="person-outline"></ion-icon>
    <div class="text">
      <h4>Dr. Marty Smarty Pants</h4>
      <p>Speech Therapist</p>
      <span>&starf; &starf; &starf; &starf;</span>
    </div>
  </ion-card>



</ion-content>
