<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feedback">
      <ion-icon name="pie-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-clear-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="call">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
