<ion-content>

  <h1>Your Patients:</h1>

  <div class="container">
    <ion-card class="card-main" (click)="navigateToDoctorProfile()">
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient</p>
      </div>
    </ion-card>
  </div>

  <div class="container">
    <ion-card class="card-main">
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient</p>
      </div>
    </ion-card>
  </div>

  <div class="container">
    <ion-card class="card-main">
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient</p>
      </div>
    </ion-card>
  </div>
</ion-content>


