<ion-content>

  <h1>Video Chats</h1>

  <div class="cards">
    <ion-card class="card-main" (click)="navigateToChat()">
      <img src="./assets/images/img_1.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Hello are you ready for your appointment?</p>
      </div>
    </ion-card>
    <ion-card class="card-main">
      <img src="./assets/images/img_1.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Hello are you ready for your appointment?</p>
      </div>
    </ion-card>
    <ion-card class="card-main">
      <img src="./assets/images/img_1.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Hello are you ready for your appointment?</p>
      </div>
    </ion-card>
  </div>

</ion-content>
