h1, h4, span, p, h3{
  padding: 0;
  margin: 0;
}

h3{
  font-size: 15px;
  text-align: center;
  margin: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

h1{
  font-size: 26px;
  font-weight: 400;
}

.general-info{
  display: grid;
  grid-template-columns: 2fr 3fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 400px;
  margin-top: 5vh;

  .profile-pic{
    flex: .75;
    height: 90px;
    margin-right: 10px;
    border-radius: 50%;
  }

  h4{
    font-size: 16px;
  }

  span{
    justify-self: flex-end;
    color: #FDFF85;
  }
}

.information{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 40vh;
  margin-top: 3vh;

  ion-card{
    height: 16vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9C2CF;
    color: black;
  }
}
