<ion-content>
  <div class="grid">
    <div class="video-big">
      <div class="info">
        <ion-icon class="profile-pic" name="person-outline"></ion-icon>
        <div class="text">
          <h4>Dr. Smarty Pants</h4>
          <p>Speech therapist</p>
        </div>
      </div>
    </div>

    <div class="icons">
      <ion-icon class="round small" name="videocam-outline"></ion-icon>
      <ion-icon class="round small" name="mic-outline"></ion-icon>
      <ion-icon class="round big" name="call-outline" (click)="navigateToCall()"></ion-icon>
      <ion-icon class="round small" name="chatbubble-outline" (click)="navigateToChat()"></ion-icon>
      <ion-icon class="small" name="ellipsis-vertical-outline"></ion-icon>
    </div>

  </div>

</ion-content>
