.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  background-color: #F9C2CF;
  margin-top: 25px;
  width: 70vw;
  max-width: 250px;
  padding: 20px 0;
  border-radius: 10px;
}

h1{
  margin-bottom: 20px;
}
