h3, h4, p, ion-icon{
  margin: 0;
  padding: 0;
  color: black;
}

h3{
  font-size: 20px;
  font-weight: 400;
}

h4{
  font-size: 16px;
  font-weight: 400;
}

p{
  font-size: 12px;
}

ion-card{
  padding: 15px;
  background-color: #FFB4C5;
}

.therapist{
  background-color: #587CA3;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-left: 10px;

  ion-icon{
    font-size: 20px;
    margin-right: 5px;
  }
}

.card-main {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1fr;
  align-items: center;
  justify-content: center;

  .profile-pic{

    padding: 5px;
    border-radius: 50%;
  }
}

.row{
  display: flex;
  justify-content: center;

  ion-icon{
    font-size: 16px;
  }
}

.center{
  background-color: #51C0A6;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;

  ion-icon{
    margin-right: 10px;
  }
}

.end{
  justify-content: flex-end;

  ion-icon{
    padding: 5px;
    border-radius: 50%;
    background-color: white;
  }
}

span{
  color: #FDFF85;
}




