<ion-content>

  <div class="title">
    <ion-icon name="flag-outline"></ion-icon>
    <h3>München</h3>
  </div>

  <ion-card class="card-main therapist">
    <img src="./assets/images/img_1.png" alt="" class="profile-pic">
    <div class="text">
      <h4>Dr. Marty Smarty Pants</h4>
      <p>Speech Therapist</p>
      <span>&starf; &starf; &starf; &starf;</span>
    </div>
  </ion-card>

  <h3 class="title">Upcoming Appointments</h3>
  <ion-card>
    <div class="row end">
      <ion-icon name="videocam-outline"></ion-icon>
    </div>

    <div class="card-main">
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient Information</p>
      </div>
    </div>

    <div class="row center">
      <ion-icon name="add-circle-outline"></ion-icon>
      <p>June 14, 14:30</p>
    </div>
  </ion-card>

  <ion-card>
    <div class="row end">
      <ion-icon name="videocam-outline"></ion-icon>
    </div>

    <div class="card-main">
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient Information</p>
      </div>
    </div>

    <div class="row center">
      <ion-icon name="add-circle-outline"></ion-icon>
      <p>June 16, 10:30</p>
    </div>
  </ion-card>
</ion-content>
