<ion-content>
  <div class="container">
    <ion-card class="card-main">
      <ion-icon name="chevron-back-outline" (click)="navigateToPatientMetrics()"></ion-icon>
      <img src="./assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient information</p>
      </div>
    </ion-card>

    <div class="grid">
      <div class="box">
        <p>10 June 2022</p>
        <div class="dots">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
        </div>
      </div>
      <div class="box">
        <p>9 June 2022</p>
        <div class="dots">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
        </div>
      </div>
      <div class="box">
        <p>8 June 2022</p>
        <div class="dots">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
        </div>
      </div>
      <div class="box">
        <p>7 June 2022</p>
        <div class="dots">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
        </div>
      </div>
      <div class="box">
        <p>6 June 2022</p>
        <div class="dots">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
          <img src="./assets/images/dot.png">
        </div>
      </div>

    </div>
  </div>
</ion-content>
