<ion-content>
  <div class="container">
    <h1>Add Notes</h1>

    <ion-card class="card-main">
      <img src="../../../../assets/images/img.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Jane Doe</h4>
        <p>Patient Information</p>
      </div>
    </ion-card>

    <div class="button">
      <button (click)="toggleNotes()">Add Notes</button>
    </div>

    <div class="date">
      <p>Session Date</p>
      <ion-select>
        <ion-select-option value="brown">01.08.22 14:00</ion-select-option>
        <ion-select-option value="blonde">01.08.22 15:00</ion-select-option>
        <ion-select-option value="black">01.08.22 16:00</ion-select-option>
        <ion-select-option value="red">01.08.22 17:00</ion-select-option>
      </ion-select>
    </div>

    <div class="notes" *ngIf="notesActive">
      <textarea></textarea>
    </div>

  </div>
</ion-content>
