img, h4, p, span, h1{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;

  h1{
    font-size: 20px;
    margin-left: 1rem;
  }
}

.card-main {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #FFB4C5;
  padding: 15px;
  color: white;
  margin-top: 25px;

  .profile-pic{
    padding: 5px;
    border-radius: 50%;
  }

  h4{
    font-size: 16px;
  }

}

.button{
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button{
    width: 40%;
    height: 2rem;
    background-color: #51C0A6;
    border-radius: 5px;
  }
}

.date{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  p{
    flex: 1;
    font-size: 12px;
  }

  ion-select{
    flex: 2;
    background-color: #587CA3;
    border-radius: 5px;
  }
}

.notes{
  margin-top: 25px;
  width: 90%;
  height: 50vh;

  textarea{
    height: 100%;
    width: 100%;
    background-color: #E3E3E3;
    border: none;
    border-radius: 5px;
  }
}


