<ion-content>
  <div class="container">
    <h1>Dr. Smarty Pants Profile</h1>

    <div class="general-info">
      <img src="./assets/images/img_1.png" alt="" class="profile-pic">
      <div class="text">
        <h4>Dr. Smarty Pants</h4>
        <p>Speech Therapist</p>
        <span>&starf; &starf; &starf; &starf;</span>
      </div>
    </div>

    <div class="information">
      <ion-card>
        <h3>Education</h3>
      </ion-card>
      <ion-card>
        <h3>Background</h3>
      </ion-card>
      <ion-card>
        <h3 (click)="navigateToChat()">Contact</h3>
      </ion-card>
      <ion-card>
        <h3>Reviews</h3>
      </ion-card>
    </div>
  </div>
</ion-content>
