<ion-content>

  <h1>Video Chats</h1>

  <div class="cards">
    <ion-card class="card-main" (click)="navigateToChat()">
      <ion-icon class="profile-pic" name="person-outline"></ion-icon>
      <div class="text">
        <h4>Dr. Smarty Pants</h4>
        <p>Hello are you ready for your appointment?</p>
      </div>
    </ion-card>
    <ion-card class="card-main">
      <ion-icon class="profile-pic" name="person-outline"></ion-icon>
      <div class="text">
        <h4>Dr. Smarty Pants</h4>
        <p>Hello are you ready for your appointment?</p>
      </div>
    </ion-card>
    <ion-card class="card-main">
      <ion-icon class="profile-pic" name="person-outline"></ion-icon>
      <div class="text">
        <h4>Dr. Smarty Pants</h4>
        <p>Hello are you ready for your appointment?</p>
      </div>
    </ion-card>
  </div>

</ion-content>
