h1, p {
  margin: 0;
  padding: 0;
}

h1{
  margin-left: 12px;
  font-size: 30px;
  font-weight: 400;
  margin-top: 5vh;
}

.cards{
  margin-top: 25px;
}

.card-main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .profile-pic{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 26px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 50%;
  }

}
