<ion-content>
  <ion-slides>

    <!-- Slide 1 -->
    <ion-slide class="one">
      <h1>CLARE</h1>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide class="two">
      <h4>CLARE</h4>
      <img src="assets/images/startimage1.png" alt="">
      <p>We believe everyone deserves a chance to be heard, thats why on CLARE we make it our mission to provide you with the best treatment possible!</p>
    </ion-slide>

     <!-- Slide 3 -->
     <ion-slide class="two">
       <h4>CLARE</h4>
       <img src="assets/images/startimage2.png" alt="">
       <p>We believe everyone deserves a chance to be heard, thats why on CLARE we make it our mission to provide you with the best treatment possible!</p>
    </ion-slide>

    <!-- Slide 4-->
    <ion-slide class="three">
      <h4>Are you a..</h4>
      <button (click)="clickedPatient()">Parent</button>
      <button (click)="clickedTherapist()">Therapist</button>
    </ion-slide>

  </ion-slides>
</ion-content>
