<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="/assets/images/logo.png">
        <div id="text1-intro-page1">
          Speaking and conversation abilities booster. Support your beloved ones and let them be better conversationalists.
          <p>Find out the right online speech therapy expert</p>
        </div>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="/assets/images/logo2.png">
        <div id="text1-intro-page2">Let your kid play with our smart games and watch her improve and gain self confidence.
        <p>Browse our speech playground</p>
      </div>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>

 <!-- Slide 3 -->
 <ion-slide>
  <ion-text color="light">
    <img src="/assets/images/logo3.png">
    <div id="text1-intro-page3">Every game is monitored in a meticulious way by our experts so that customized activities could be proposed to your kids.
    <p>Learn about the data that is monitored</p>
  </div>
    <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
  </ion-text>
</ion-slide>




  </ion-slides>
  <div id="logo-name-container">
    <div id="logo-name">Clare</div>
  </div>
</ion-content>