h1, h4, span, p, h3{
  padding: 0;
  margin: 0;
}

h3{
  font-size: 15px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 26px;
  font-weight: 400;
}

.general-info{
  display: grid;
  grid-template-columns: 2fr 3fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 400px;
  margin-top: 5vh;

  .profile-pic{
    flex: .75;
    height: 90px;
    margin-right: 10px;
    border-radius: 50%;
  }

  h4{
    font-size: 16px;
  }

}

.information{
  margin-top: 25px;
  display: flex;
  width: 90%;
  flex-direction: column;


  ion-card{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB4C5;
    color: black;

    ion-icon{
      font-size: 23px;
    }
  }
}

.medication{
  margin-top: 25px;
  width: 90%;

  .box{
    margin-top: 10px;
  }

  ion-select{
    width: 100%;
    background-color: #E8E8E8;
    border-radius: 5px;
  }

  textarea{
    width: 100%;
    background-color: #E8E8E8;
    border: none;
    border-radius: 5px;
  }

  .middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
      width: 80%;
      height: 2rem;
      border-radius: 5px;
      background-color: #FFB4C5;
    }
  }

}
